@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600|Euphoria+Script);

/* Simple Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	text-align: center;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 100%;
	color: rgba(255,255,255,.87);
	background-color: #000000;	
}
header {
	height: 800px;
	background-image: url(../images/catface.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000000;	
}
section {
	padding: 3em 0;
}
footer {
	padding:1em 0;
	text-align: center;
	background-color: rgba(0,0,0,0);
}
p {
	font-size: 1em;
	padding: .3em;
	margin: 1em auto;
	max-width: 600px;
}
h1 {
	text-transform: uppercase;
	font-size: 3.125em;
	font-weight: 600;
	line-height: .5em;
}
h2 {
	font-size: 1.875em;
	font-weight: 400;
	margin-bottom: 1em;
}
h3 {
	font-size: 1em;
	font-weight: 200;
}
ul {
	list-style: none;
	line-height: 1.7;
}
nav a {
	display: inline-block;
	font-weight: 200;
	width: 9.375em;
	padding: 1em;
	background-color: rgba(0,0,0,.3);
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
}
nav a:hover {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
}
li {
	font-weight: 300;
	font-size: 1.5em;
}
.ProjectEntry {
	float: left;
	width: 24%;
	color: #ffffff;
	text-decoration: inherit;
	text-align: center;
	background-color: #000;
	padding: .5%;
}

.ProjectEntry:hover {
	color: #000000
	background-color: #ffffff;
}
.ProjectEntry img {
	width:100%;
}

.socialicons i{
	display: inline-block;
	width: 1.5em;
	padding: .25em;
	color: #ffffff;
	text-decoration: none;
	color: #ffffff;
	font-size: 3em;
}
.socialicons i:hover {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
}
#logo {
	width:130px;
	margin-top:12%;
}
#slogan {
	font-family: "Euphoria Script";
	text-align: center;
	line-height: .1;
	font-size: 2em;
	margin-bottom: 1em;
}
#Services {
	clear: both;
	padding: 3em;
	background-color: #ffffff;
	color: #000000;
}
#AboutMe {
	height: 600px;
	padding: 3em;
	background-image: url(../images/creativecat.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000000;
}
#MyWork {
	max-width:90%;
	margin:auto;
	background-color: #000000;
	padding: 3em;
}
#left {
    float: left;
    width: 48%;
    text-align: right;
    margin-bottom: 5%;
}
#right {
    float: right;
    width: 48%;
    text-align: left;
    margin-bottom: 5%;
}
#gif {
	: circle(60px at center);
 	overflow: hidden;
 }
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
